* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    padding-top: 200px;
    background-image: url(https://i.ibb.co/brQHWpZ/background-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
}

h1 {
    font-size: 64px;
    color: #151718;
    line-height: 86px;
    font-family: 'Cinzel', serif;
}

h1 span {
    color: #DB2777;
}

p {
    font-size: 20px;
    color: #2C2E2F;
    opacity: .9;
    line-height: 24px;
    margin-bottom: 72px;
    font-family: 'Inter', sans-serif;
}

a {
    padding: 16px 32px;
    color: #151718;
    font-weight: 700;
    text-decoration: none;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

a:hover {
    text-decoration: none;
    color: #040101;
    background-color: #DB2777;
    border-radius: 80px;
}

.btn-primary {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DB2777;
    opacity: 1;
    border-radius: 80px;
}